
  <div class="form-container active" id="initial-form">
   <h1 class="form-title">Atualização Cadastral</h1>
   <p class="form-text">Digite o seu CPF para começar.</p>
   <form class="form">
     <div class="form__group">
       <label class="form__label" for="cpf">CPF</label>
       <input class="form__input" type="text" placeholder="000.000.000-00" id="cpf" data-mask="cpf" required>
       <p class="form__error">CPF inválido, tente novamente.</p>
     </div>

     <div class="btns__container">
       <button routerLink="/atualizacao-cadastral" class="btn btn--primary btn--next">Avançar</button>
     </div>

   </form>
 </div>


